<html lang="en">
  {{> head }}
<body>
  {{> nav }}

  <div class="services content">
    <h2>Our Services</h2>
    <p>
      <span>Check our services!</span>
      <a class="devs-ancor-link" href="/services/devs">Click here</a>
    </p>
  </div>

  
  {{> footer }}
</body>
</html>