<nav>
    <div class="site-title">
        <div class="logo-section">
            <a href="/"><img src="../../images/logo/sc.png" alt="stockcoders_logo.png" width="120"/></a>
            <a href="/"><span class="logo-name">< StockCoders /></span></a>
        </div>
        <p>
            <span class="slogan-hashtag">#</span><span class="slogan-text">LEARN</span> 
            <span class="slogan-hashtag">#</span><span class="slogan-text">CODE</span>  
            <span class="slogan-hashtag">#</span><span class="slogan-text">GROW</span> 
        </p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/services/devs">Development Tools</a></li>
        <li><a href="/services/create">Add Service</a></li>
    </ul>
</nav>